<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loja</title>
  </head>
  <body>
    <div class="container">
    <div class="alert alert-success"  role="alert">
        <h4 class="alert-heading"> Tabela de Produtos </h4>
    </div>
      <table class="table table-bordered table-hover">
            <thead>
                <tr>
                  <td>Nome</td>
                  <td>Descricao</td>
                  <td>Preco</td>
                  <td>Quantidade</td>

                </tr>
            </thead>
        <tbody>
          <% lista = Array.new() %>
          <% produto = Produto.new({:nome => 'Calvin Klein blusa', :descricao => 'Nova', :preco => '100', :quantidade => '10'}) %>
          <% lista.push(produto) %>
          <% lista.each do |produto| %>
            <tr>
              <td><%=produto.nome %></td>
              <td><%=produto.descricao %></td>
              <td><%=produto.preco%></td>
              <td><%=produto.quantidade %></td>
            </tr>
          <%end %>
        </tbody>
         <tbody>
          <% @produto = Array.new() %>
          <% @produto = Produto.all %>

          <% @produto.each do |produto| %>
            <tr>
              <td><%=produto.nome %></td>
              <td><%=produto.descricao %></td>
              <td><%=produto.preco%></td>
              <td><%=produto.quantidade %></td>
            </tr>
          <%end %>
        </tbody>
   </table>
    <br/>
    <hr/>

    <h3 class="alert-heading">Novos Produtos </h3>
      <br/>
    <div class="row">
      <!--tamanho linha -->
    <div class="col-sm-8">
    <div class="form-group">
    <%=form_for Produto.new do |form| %>
        <form>
            <%=form.label :nome  %>
            <%=form.text_field :nome, class:'form-control' %>
        <br/>
            <%=form.label :descricao %>
            <%=form.text_area :descricao , class:'form-control'%>
        <br/>
        <%=form.label :preco %>
          <%=form.number_field :preco , class:'form-control', step:0.01%>
    <br/>
    <%=form.label :quantidade %>
      <%=form.text_field :quantidade , class:'form-control'%>
    <br/>
        <%=form.submit 'Gravar', class:'brn btn-primary'%>
      </form>
      </div>
    </div>
  </div>



    <%end %>
   </div>
  </body>
</html>
